.img-valores{
  width: 500px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 25px;
}

.btn-cta{
  background-color: #01BD2A;
  border-radius: 50px;
  width: auto;
  border: 2px solid #fff;
  height: auto;
  text-decoration: none;
  text-align: center;
  padding-top: 7px;
  min-height: 45px;
  min-width: 350px;
}

@media (max-width: 576px) {
  .img-valores{
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
  }
}
