<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-3">
      <h1>Terapias Studio Integral</h1>
      <div class="row d-flex justify-content-center 5">
        <h4 class=" text-center mt-5 mb-3">Massagem Relaxante</h4>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/massagem2.jpg" class="img-valores" alt="">
        </div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <p class="text-center">A massagem relaxante é uma técnica que mescla movimentos firmes e suaves sobre o corpo.
            Esses movimentos,
            por sua vez, estimulam a produção de hormônios relaxantes, como a ocitocina, que melhora o estresse e a
            sensação de medo, assim como a serotonina, que normaliza o humor, os batimentos cardíacos e a sensibilidade
            em relação à dor.
          </p>
          <p>Duração: 50 minutos</p>
          <p>Valor: R$ 140,00</p>
          <button class="btn-cta btn-primary mx-4"> Agendar Terapia <i class='bx bxl-whatsapp'
              style="font-size: 18px;"></i></button>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <h4 class=" text-center mt-5 mb-3">Banho de Limpeza Energética</h4>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <p class="text-center">Com uso de plantas específicas o banho de limpeza energética promove a cura através da
            purificação dos
            nossos campos sutis.
            Alivia o estresse e tensões acumuladas no corpo, elimina a sensação de cansaço e promove a sensação de
            leveza e bem-estar.
          </p>
          <p>Valor: R$ 140,00</p>
          <button class="btn-cta btn-primary mx-4"> Agendar Terapia <i class='bx bxl-whatsapp'
              style="font-size: 18px;"></i></button>
        </div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/banho.jpg" class="img-valores" alt="">
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <h4 class=" text-center mt-5 mb-3">Massagem Relaxante + Banho Harmonização</h4>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/banho.jpg" class="img-valores" alt="">
        </div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
          <p class="text-center">Este pacote é para quem busca auto cuidado com amor e leveza.
          </p>
          <p>Duração: 1 hora</p>
          <p>Valor: R$ 140,00</p>
          <button class="btn-cta btn-primary mx-4"> Agendar Terapia <i class='bx bxl-whatsapp'
              style="font-size: 18px;"></i></button>
        </div>

      </div>
    </div>
  </div>
</div>
