<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="text-center my-5">Mestres da linhagem</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="text-center">
            Sri Aurobindo (1872-1950)</h3>
          <img src="../assets/Mestre-Yoga-1.png" class="imagem" alt="">
        </div>
        <div class="col-12 col-md-6 text-center text-md-start my-4 my-md-0 pt-md-5">
          <p>Poeta, pensador, yogue e político, com formação acadêmica na Inglaterra, foi uma liderança atuante no
            processo de libertação da Índia do domínio britânico. Formulou os princípios do Yoga Integral, criando o
            conceito inédito de “Supramente” e “Consciência Verdade”, que busca para o indivíduo a integração entre a
            matéria transformada e o espírito.</p>

          <p>Tendo o Yoga como base, ele meditou sobre os ensinamentos dos Vedas, Upanishads e Bhagavad Gita. Entre 1914
            e 1921, a experiência e insights obtidos resultaram em mais de 4 mil páginas de escritos filosóficos e
            espirituais (A Vida Divina, A Síntese do Yoga, Ensaios sobre o Gita, O Ciclo Humano, O Ideal da Unidade
            Humana, Segredos do Veda). O tratado espiritual “A Vida Divina” (mil páginas) contém suas teorias originais
            sobre o Conhecimento, Realidade, Si, e os Estágios da Evolução.</p>

          <p>Aurobindo também foi responsável por formular os conceitos do Yoga Integral, unificando princípios de
            diversas linhas do Yoga. Para ele, a evolução continua e um novo princípio de consciência deverá surgir, a
            “Supramente”. Segundo ele, o Yoga é fundamental na tomada de consciência, facilitando o processo de evolução
            do Ser.</p>

          <p>O caminho de Yoga seguido por Aurobindo procura trazer o poder supramental da consciência divina para a
            ignorância da mente, vida e corpo, transformando-os realizando o poder divino na matéria (iluminação).</p>
        </div>
      </div>
      <div class="row mt-5 d-flex flex-md-row flex-column-reverse">
        <div class="col-12 col-md-6 text-center text-md-end my-4 my-md-0 pt-md-5">
          <p>Artista e musicista francesa, a “Mãe”, como era conhecida por seus discípulos, desempenhou papel importante
            na difusão dos ensinamentos do Yoga Integral.</p>

          <p>Foi ela a responsável por formular, segundo a visão do mestre Aurobindo, os princípios de uma educação
            integral.</p>

          <p>Vivenciou e descreveu os processos de transformação do corpo físico, da consciência celular e desbravou
            caminhos para a iluminação do Ser.</p>

          <p>Erradicada na Índia a partir de 1920, quando fundou junto ao mestre Aurobindo, o Sri Aurobindo Ashram, onde
            foi responsável pela direção da comunidade após a retirada do mestre para seus aposentos.</p>

          <p>Depois da morte do mestre em 1950, Mira fundou o Centro Internacional de Educação, onde desenvolveu um
            trabalho conhecido por Yoga das Células cujo propósito era criar uma mente celular restauradora.</p>

          <p>Em 1968, a “Mãe” fundou Auroville, nas imediações de Podicherry, Índia, com a intenção de criar um
            laboratório para evolução de uma nova consciência.</p>

          <p>Hoje em dia, seus centros educacionais recebem centenas de pessoas todos os anos que buscam esses
            ensinamentos.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-start">
          <h3 class="text-center">Mira Alfassa (1878-1973)</h3>
          <img src="../assets/Mestre-Yoga-2.png" class="imagem" alt="">
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h1 class="text-center my-5">Mestres da linhagem do Tantra</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="text-center">Mestre Lakshman Gurukkal</h3>
          <img src="../assets/Mestre-Yoga-3.png" class="imagem" alt="">
        </div>
        <div class="col-12 col-md-6 text-center text-md-start my-4 my-md-0 pt-md-5">
          <p>Lakshman Gurukkal é um dos raros e reverenciados Gurus de Kalaripayattu, Ayurveda e Tantra das tradições
            remanescentes no Sul do Índia. Mestre e orientador da fundadora do Studio Integral, Wal Nunes, desde 2015.
          </p>

          <p>Seguindo sua linhagem familiar, ele começou a receber os ensinamentos na tenra idade de 5 anos, sob a
            tutela de seu pai, Guru Veerasree Sami Gurukkal. Nestes anos de crescimento, ele também aprendeu com seu pai
            a arte e a ciência do Ayurveda. Ele foi condecorado pelo Ministério da Cultura da Índia com o título de
            Conselheiro Sênior em Kalaripayattu e Natyashastra (antigo tratado indiano sobre as artes).</p>

          <p>É pós-graduado em Advaita Vedanta pela Rashtriya Sanskrit Sansthan, conceituada universidade sob a pasta do
            Ministério do Desenvolvimento dos Recursos Humanos, em Nova Délhi. Trabalhou como professor de arte marcial
            na Universidade de Sânscrito Sree Sankaracharya, em Kerala e é diretor dos centros Hindustan KalariGram
            Sangam em Calicut (de tradição familiar, fundado em 1950) e em Auroville – um centro holístico internacional
            de tratamento e pesquisa em Kalari, fundado em 2010, onde são treinados artistas de todo o mundo.</p>
        </div>
      </div>
      <div class="row mt-5 d-flex flex-md-row flex-column-reverse">
        <div class="col-12 col-md-6 text-center text-md-end my-4 my-md-0 pt-md-5">
          <p>O Dr. S. Vijayan Gurnathan nasceu em Trivandram, por volta de 1935. Depois de concluir seu treinamento
            médico, ele viajou amplamente no norte da Índia. Estudou aos pés de Swami Shivananda de Rishkesh, Himalayas,
            por um ano. Naqueka época, ele pensava em tomar sanyas e viver exclusivamente para práticas e atividades
            espirituais. Swami Shivananada o encorajou a seguir a vida em família. Depois de retornar a Kerala, casou-se
            com a Dr C. Ramalashimi, e praticavam carreira juntos como médicos.</p>

          <p>Foi iniciado no Chamunda Mantra de RamaDevi de Tellicherry, Kerala. Depois de estudar com muitos mestres
            espirituais, recebeu Purna- abisheka Deeksha, no Bhasakararaya, Paramapara, de seu Guru, Sree Neelakantha
            Mahadeva Joshi. Empreendeu uma prática intensa de Upasana, exatamente como ordenou seu Guru. Meditou e fez
            Sree Chakra Pooja, duas vezes por dia, durante muitos anos. Palestrou por muitos anos em templos ao redor de
            Kozhikode, atuou em conferências médicas em Sri Lanka.</p>

          <p>Publicou comentários sobre Kamakala Vilasa, Bavanopanishad, Paduka Panchaka Stotra e Parasurama e
            Kalpasutra. Também publicou vários artigos de jornal sobre Tantra, Ayurveda, Kalaripayattu. Em 1993,
            pré-formou Sree Chakra pratistha para um templo Devi em Sree Perembudur, perto de Chennai. Ele estabeleceu
            Sree Nathah Ashram em Wythiri, Wyanad, Kerala em 2000.</p>

          <p>Alcançou o Mahasamadhi em 2005. Sua riqueza é contada pelo número de discípulos que ele fez.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-start">
          <h3 class="text-center">Dr. S. Vijayan -Anangananda Nathan</h3>
          <img src="../assets/Mestre-Yoga-4.png" class="imagem" alt="">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-md-6">
          <h3 class="text-center">Neelakantha Mahadeva Joshi – Yogishananda Nathan</h3>
          <img src="../assets/Mestre-Yoga-5.png" class="imagem" alt="">
        </div>
        <div class="col-12 col-md-6 text-center text-md-start my-4 my-md-0 pt-md-5">
          <p>Mahadev ainda não foi iniciado quando seu pai morreu. No entanto, essa falta foi sanada da maneira mais
            maravilhosa possível.</p>

          <p>Uma manhã, quando ele tinha 19 anos, Mahadev foi ao templo de Gandhamadhana, que era seu trabalho cuidar e
            ao abrir a porta do santuário principal, ele viu um jovem radiante, aparentemente próximo à sua idade,
            mediando enquanto flutuava no ar. Mahadev fechou rapidamente a porta e pediu aos peregrinos do templo que
            esperassem do nosso lado, para não perturbar a meditação deste obviamente grande iogue. Mais tarde naquele
            dia, Mahadev encontrou alguns viajantes na estrada que se aproximavam de Gandhamadhana, que perguntaram se
            ele tinha visto um homem respondendo à descrição do jovem iogue no templo. Esse Yogi era o grande Narasinha
            Saraswati de Ganagapur, um renomado Siddha, considerado um Avatar de Dattareya, mais de 400 anos. Os
            viajantes eram seus discípulos, que haviam deixado sua morada junto com seu Guru naquela manhã, mas levaram
            quase o dia inteiro para cobrir a distância que ele percorreu instantaneamente.</p>

          <p>Narasinha Saraswati ficou em Rameshwaram por vários meses, empregando seus maravilhosos poderes em
            benefício da população. Mas porque ele foi abordado apenas por benefícios mundanos e nunca por um candidato
            a um conhecimento superior, ele se cansou de sua ocupação e decidiu sair. </p>

          <p>Na véspera de sua partida, ele pediu a Mahadev para encontrá-lo em uma certa manhã . Quando Mahadev chegou
            ao local designado, viu Narasinha Saraswati, do tamanho do polegar de um homem, em pé em um buraco na
            árvore, à direita da orelha. De lá, ele falou no ouvido de Mahadev o mantra de que seu pai havia morrido sem
            lhe dar e desapareceu. Dessa maneira milagrosa, a ruptura na linhagem espiritual ancestral de Panditji foi
            reparada.</p>

          <p>Nilkantha M. Joshi, conhecido com reverência e fetuosidade como Panditji, é o filho mais velho de Mahadev e
            nasceu em 29 de dezembro de 1930. Sua linhagem ilustre não o impediu de passar a infância da mesma maneira
            que qualquer menino travesso. Aos 17 anos, porém, ele conheceu Godbole Maharaj, de Bombaim, seu Guru, e
            começou a anusthan a sério.</p>

          <p>Panditji não viu seu Guru novamente até 1924. Entre o primeiro e o segundo encontro, Panditji havia se
            casado, mas sua esposa morreu dentro de um ano. Essa perda o prendeu profundamente e inspirou nele o desejo
            de deixar todas as coisas mundanas e se perder no Sadhana. No segundo encontro, Godble Maharaj deu a
            Panditji livros de reboque em sânscrito, o Tantra Vamakeshwar e o Parashuram Kalpasutra. Panditji não era
            muito educado por ter falhado em concluir o ensino médio. Seu conhecimento de sânscrito era leve. Ele não
            conseguia entender por que esses livros incompreensíveis fora convocado para ele, mas, mesmo assim, ele
            seguiu as instruções de seu guru e as leu repetidas vezes. A princípio, nada significavam para ele, mas aos
            poucos ele começou a entender não apenas a língua sânscrita, mas, finalmente, até os assuntos esotéricos
            discutidos nessa língua lhe renderam seus segredos.</p>

          <p>Panditji, nesse ponto, embarcou em Tapasya intenso, dormindo pouco, comendo quase nada, fazendo 12 horas de
            japa por dia.</p>

          <p>Em 1928, Panditji foi novamente visitado por seu Guru. Dessa vez, Godbole Maharaj deu a ele a experiência
            de Sakshatkar. Panditji viu a Mãe e se viu na entrada da região dos Siddhas. Ele continuou sua intensa
            Tapasya por mais 4 anos.</p>

          <p>Se esses quatro anos fossem sete, Panditji se tornaria um Siddha plenamente realizado. Mas em 1932, em mais
            uma visita a Rameshwaram, Godbole Maharaj foi suplicado por Mahadev para acabar com o Tapasya de Panditji.
            Os siddhas não vivem no mundo, o pai de Panditji sabia. Eles não estão preocupados com a vida familiar e os
            assuntos diários. O fim de sua linhagem, ininterrupto por centenas de anos, foi iminente. Guru Godbole
            Maharaj pediu a Panditji para parar seu Tapasya e casar novamente, o que ele fez em 1932. A título de
            compensação, Pandidji garantiu a seu Guru que o estado que ele quase alcançara seria o seu muito cedo na
            próxima vida.</p>

          <p>Em 1937, aos 34 anos, Pandidji foi criado por Shambhavi Diksha, Purna Acharya – competente para dar diksha
            a qualquer discípulo de acordo com qualquer um dos amnayas ou escolas de prática espiritual. Essa iniciação
            o colocou no antigo Guru Parampara, do qual o grande Bhaskararaya é o membro mais ilustre. A partir desta
            data, Panditji teve muitos discípulos de todo o mundo. Em 1959, Panditji foi solicitada pela Mãe do Siri
            Aurobindo Ashram. Ele forneceu a ajuda necessária e, assim, estabeleceu um relacionamento com o Ashram de
            Sri Aurobindo. Ele visitou lá regularmente até a morte da mãe em 1973. Desse modo, muitos buscadores
            espirituais de países estrangeiros atraíram o Ashram de Sri Aurobindo pelo seu sabor internacional, tiveram
            a grande sorte de conhecer Panditji e ficar sob sua influência.</p>
        </div>
      </div>
    </div>
  </div>
</div>
