
.banner{
  object-fit: cover;
  object-position: 20% 20%;
  height: 500px;
}

.titulo-destaque-main{
  color: #fff;
  /* -webkit-text-stroke: 0.5px black; */
  /* background-color: #4d297174; */
  font-weight: bold;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.505);
}

.texto-destaque-main{
  color: #fff;
  /* -webkit-text-stroke: 0.5px black; */
  /* background-color: #4d297174; */
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.505);
}


.img-banner{
  object-fit: cover;
  object-position: 20% 80%;
  max-height: 600px;
  width: 100%;
}


.img-destaque{
  object-fit: cover;
  object-position: 0 80%;
  max-height: 400px;
  width: 100%;
}

.selo-gratuito{
  background-color: rgba(20, 220, 36, 0.619);
  border-radius: 30px;
  padding: 8px 25px;
  color: #fff;
  font-weight: 500;
}

.logo{
  width: 75px;
  height: 75px;
}


.fonte-destaque{
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #000;
}

.texto-destaque{
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 0 0 3px #000;
}

.imagem-carrosel {
  object-fit: cover;
  object-position: 70% 80%;
  height: 500px;
}

.imagem-carrosel1 {
  object-fit: cover;
  object-position: 80%;
  height: 500px;
}

.btn-carrosel{
  background-color: #ab2e8800;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 200px;
}

.btn-card{
  background-color: #4d2971;
  border-radius: 50px;
  border: 2px solid #fff;
  width: auto;
}

.card-posicao-imagem{
  object-fit: cover;
 /*  object-position:0 80%; */
  height: 250px;
  border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.card-largura{
  max-width: 23rem;
  height: 600px;
  border-radius: 30px;
}

.imagem{
  -webkit-box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.24);
  box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.24);
  border-radius: 30px;
}

.imagem-metodo{
  width: 100%;
  height: auto;
}

#walnunes{
  margin-bottom: 300px;
}


@media (max-width: 576px) {

    .banner{
      object-fit: cover;
      object-position: 40%;
      height: 450px;
    }
    .imagem-metodo{
      width: 90vw;
      height: auto;
    }
    #metodo{
      margin: 0px 5%;
    }
    #objetivo{
      margin: 0px 5%;
    }
    #walnunes{
      margin: 0px 5%;
    }
    #quem_somos{
      margin: 0px 5%;
    }

}

@media (min-width: 576px) {
  #metodo{
    margin: 0px 5%;
  }
  #objetivo{
    margin: 0px 5%;
  }
  #walnunes{
    margin: 0px 5%;
  }
  #quem_somos{
    margin: 0px 5%;

  }
  .text-limit{
    max-width: 800px;
  }

}
