<div class=" header">
  <img class="img-header" src="../assets/meditacao1.png" alt="">
  <div class="text-header">
    <h1 class="main-text">Retiro de Meditação </h1>
    <p class="sub-text">Descubra os segredos sobre a prática da meditação!</p>
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center mt-4">
      <h1>O Retiro</h1>
      <p class="text-center m-0">Elimine, de uma vez por todas, a confusão mental e encontre a verdadeira paz interior
        através do nosso retiro de iniciação à meditação.
        Uma experiência de dois dias onde você irá aprender tudo sobre o universo desta prática milenar.
      </p>
      <p class="text-center mt-4"><b>Um passo a passo extremamente claro para você meditar com sucesso</b></p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center mt-4">
      <h1>Onde Será o Retiro?</h1>
      <h3 class="subtitle-carrossel">Sitio da Colina - Itapevi SP</h3>
      <div id="carouselExampleIndicators2" class="carousel slide mb-5 carrosel-fotos" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
            class="indicador-carrossel active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="10" aria-label="Slide 11"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao3.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="../assets/retiromeditacao1.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/retiromeditacao2.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao4.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao5.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao6.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao7.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao8.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao9.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao10.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/retiromeditacao11.jpeg" class="d-block imagem-carrosel" alt="...">
          </div>
        </div>
        <div class="d-none d-md-block">
          <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="prev">
            <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="next">
            <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 d-flex justify-content-center">
      <a href="/main/retiro-meditacao#compra" class="mt-2 btn-cta"> Eu quero participar!</a>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center mt-4">
      <h1>A prática de meditação</h1>
      <p class="text-center m-0">Hoje em dia é fácil pegar qualquer técnica de meditação em livros ou na internet e
        fazer.
        Mas porque estas técnicas não têm muito efeito?
        Simplesmente por que há vários detalhes por trás da técnica que não são ensinados, detalhes que já se espera que
        a
        pessoa saiba. A maioria dos mestres não te explica esses detalhes.
        E não porque eles não querem explicar. Mas porque, tradicionalmente, a prática da meditação é apresentada como
        algo que não se ensina, mas que se observa.
        O mestre só passa determinados conhecimentos ao seu discípulo depois de algum tempo,
        quando ele percebe que o discípulo está pronto para receber aquilo.
      </p>
      <img src="../assets/meditando2.png" class="my-3 img-main" alt="">
      <p class="text-center m-0">
        Você aprende como uma criança, apenas observando o ambiente (no caso o mestre) ao seu redor.
        E está tudo bem com esse tipo de aprendizado, é uma experiência profunda, encantadora e espiritual.
        Mas ao mesmo tempo, sentimos a necessidade em nossos alunos de ter um acesso mais direto ao conhecimento por
        trás das práticas de meditação. Para que finalmente eles saibam o porquê de cada prática, porque eles têm que
        fazer determinado exercício e o mais importante, como fazer da maneira certa.</p>
      <img src="../assets/meditando3.png" class="my-3 img-main" alt="">
      <p class="text-center m-0"><b>
          Foi disso que surgiu o nosso Retiro de Meditação, para que você finalmente consiga
          meditar da forma certa e com sucesso.
        </b> É um conhecimento muito valioso, que você não irá ouvir de qualquer
        professor ou de qualquer mestre, justamente porque os mestres não tem o hábito de falar sobre isso.
      </p>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 d-flex justify-content-center">
      <a href="/main/retiro-meditacao#compra" class="my-5 btn-cta"> Eu quero participar!</a>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center aulas">
  <h1 class="text-center mb-4 pt-4">O que iremos aprender no retiro</h1>
  <div class="col-10 d-none d-lg-block">
    <div class="row mb-4 d-flex justify-content-center ">
      <div class="col-lg-4">
        <p class="text-center num-aula">1</p>
        <p class="text-center text-aula">Princípios da meditação</p>
      </div>
      <div class="col-lg-4">
        <p class="text-center num-aula">2</p>
        <p class="text-center text-aula">Técnicas de respiração</p>
      </div>
      <div class="col-lg-4">
        <p class="text-center num-aula">3</p>
        <p class="text-center text-aula">Técnicas de meditação</p>
      </div>
    </div>
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-lg-4">
        <p class="text-center num-aula">4</p>
        <p class="text-center text-aula">Mantras</p>
      </div>
      <div class="col-lg-4">
        <p class="text-center num-aula">5</p>
        <p class="text-center text-aula">Relaxamento profundo</p>
      </div>
      <div class="col-lg-4">
        <p class="text-center num-aula">6</p>
        <p class="text-center text-aula">O que é o ser</p>
      </div>
    </div>
    <img src="../assets/meditando1.png" style="width: 100%;" alt="">
    <div class="col-12 d-flex justify-content-center">
      <a href="/main/retiro-meditacao#compra" class="my-4 btn-cta"> Eu quero participar!</a>
    </div>
  </div>
  <div class="col-12 d-block d-lg-none">
    <div class="row mb-4 d-flex justify-content-center ">
      <div class="col-6">
        <p class="text-center num-aula">1</p>
        <p class="text-center text-aula">Princípios da meditação</p>
      </div>
      <div class="col-6">
        <p class="text-center num-aula">2</p>
        <p class="text-center text-aula">Técnicas de respiração</p>
      </div>
      <div class="col-6">
        <p class="text-center num-aula">3</p>
        <p class="text-center text-aula">Técnicas de meditação</p>
      </div>
      <div class="col-6">
        <p class="text-center num-aula">4</p>
        <p class="text-center text-aula">Mantras</p>
      </div>
      <div class="col-6">
        <p class="text-center num-aula">5</p>
        <p class="text-center text-aula">Relaxamento profundo</p>
      </div>
      <div class="col-6">
        <p class="text-center num-aula">6</p>
        <p class="text-center text-aula">O que é o ser</p>
      </div>
    </div>
    <div class=" d-none d-md-block"><img src="../assets/meditando1.png" class="img-aulas" alt=""></div>
    <div class="d-flex justify-content-center d-block d-md-none"><img src="../assets/meditandomobile.png"
        class="img-aulas" alt=""></div>
    <div class="col-12 d-flex justify-content-center">
      <a href="/main/retiro-meditacao#compra" class="my-4 btn-cta"> Eu quero participar!</a>
    </div>
  </div>
</div>
<div class="container cronograma">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center mt-4">
      <h1>Os benefícios da meditação</h1>
      <ul>
        <li>Maior bem estar</li>
        <li>Desenvolvimento de um estado de extremo relaxamento</li>
        <li>Liberação de endorfina, o que também contribui para o bem estar mental e físico</li>
        <li>Diminuição do Estresse</li>
        <li>Alívio nos sintomas de ansiedade, depressão e pânico</li>
        <li>Maior clareza mental para tomar decisões no dia a dia</li>
        <li>Maior foco e disciplina nas atividades diárias</li>
      </ul>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <h1 class="my-4 text-center">Cronograma</h1>
    <div class="col-12 col-lg-5 d-flex flex-column justify-content-start align-items-start ">
      <p class="title-cronograma text-start my-2"> 21 de Outubro - Sexta</p>
      <ul class="list-unstyled list-cronograma">
        <li><strong>18:00</strong> - Recepção e chegada a partir das 18h</li>
        <li><strong>20:00</strong> - Meditação de abertura</li>
        <li><strong>21:15</strong> - Janta</li>
      </ul>
      <p class="title-cronograma text-start my-2"> 22 de Outubro - Sábado</p>
      <ul class="list-unstyled list-cronograma">
        <li><strong>07:00</strong> - Aula prática de Meditação</li>
        <li><strong>09:00</strong> - Café da Manhã</li>
        <li><strong>10:00</strong> - Tempo livre para curtir natureza</li>
        <li><strong>12:00</strong> - Aula Teórica sobre filosofia do Tantra</li>
        <li><strong>14:00</strong> - Almoço</li>
        <li><strong>16:00</strong> - Aula teórica sobre o Ser segundo o Tantra</li>
        <li><strong>17:00</strong> - Chá da tarde</li>
        <li><strong>18:00</strong> - Prática Meditativa e introspectiva com alongamentos sutis do yoga</li>
        <li><strong>20:00</strong> - Janta</li>
        <li><strong>21:00</strong> - Roda de Mantras com fogueira</li>
        <p class="title-cronograma text-start my-2"> 23 de Outubro - Domingo</p>
        <ul class="list-unstyled list-cronograma">
          <li><strong>07:00</strong> - Aula Meditação e respiração</li>
          <li><strong>09:00</strong> - Café da manhã</li>
          <li><strong>10:00</strong> - Aula Arquétipos da Deusa</li>
          <li><strong>14:00</strong> - Almoço</li>
          <li><strong>16:00</strong> - Roda de Fechamento</li>
          <li><strong>18:00</strong> - Saída</li>
        </ul>
      </ul>
      <div class="col-12 d-flex justify-content-center">
        <a href="/main/retiro-meditacao#compra" class="my-4 btn-cta"> Eu quero participar!</a>
      </div>

    </div>
  </div>
  <div class="div-img-cronogrma">
    <img src="../assets/buda.png" class="img-cronograma" alt="">
  </div>
</div>
<div class="d-none d-md-block">
  <div class="row  d-flex justify-content-center para-quem">
    <h1 class="text-center mb-4 pt-4">Para quem é o Retiro?</h1>
    <div class="col-12 d-flex justify-content-center align-items-start">
      <div class="col-5">
        <div class="row d-flex flex-column justify-content-start px-2">
          <p>Este retiro é para qualquer indivíduo que sinta o chamado de desligar a mente e acessar seu lado mais
            intuitivo, sua natureza mais real.</p>
          <p>Não há necessidade de ter prática anterior, nem precisa ser yogi, é para todos que querem aprender sobre
            esta
            filosofia de vida e iniciar sua jornada no caminho do autoconhecimento.</p>
          <p>É para aqueles praticantes que gostariam de fortalecer seu sadhana e se conectar com a energia espiritual.
          </p>
        </div>
      </div>s
      <div class="col-2"> <img src="../assets/shakti1.png" class="img-shakti" alt=""></div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <a href="/main/retiro-meditacao#compra" class="my-4 btn-cta"> Eu quero participar!</a>
    </div>
  </div>
</div>
<div class="container d-block d-md-none">
  <div class="row d-flex justify-content-center para-quem">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center pt-4">Para quem é o Retiro?</h1>
      <div class="col-12">
        <div class="row d-flex flex-column justify-content-center align-items-center text-center px-2">
          <p>Este retiro é para qualquer indivíduo que sinta o chamado de desligar a mente e acessar seu lado mais
            intuitivo, sua natureza mais real.</p>
          <p>Não há necessidade de ter prática anterior, nem precisa ser yogi, é para todos que querem aprender sobre
            esta
            filosofia de vida e iniciar sua jornada no caminho do autoconhecimento.</p>
          <p>É para aqueles praticantes que gostariam de fortalecer seu sadhana e se conectar com a energia espiritual.

          </p>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center"> <img src="../assets/shakti1.png" class="img-shakti" alt="">
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a href="/main/retiro-meditacao#compra" class="my-4 btn-cta"> Eu quero participar!</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center my-4">
      <h1>Facilitadora</h1>
      <p class="text-center mt-4">Wal Nunes - Mestre em Yoga e Meditação há mais de 10 anos.
        Praticante há
        mais de 20
        anos, fundou o Studio Integral, escola certificada pelo Yoga Alliance EUA. Criadora da
        Metodologia de
        treino
        iTantra que mistura Yoga, Meditação e Kalari. Ensinamentos das escolas tradicionais do sul da
        Índia
      </p>
    </div>
    <div class="col-12 mb-4 d-flex justify-content-center">
      <iframe width="700" height="331" src="https://www.youtube.com/embed/_O-jph6Re1s" title="Depoimento Cura e Chakras"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row  valores">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-4" id="compra">
    <h1>Valores</h1>
    <div class=" row my-4 d-flex flex-column flex-lg-row justify-content-center align-items-center">
      <div class="col-12 col-lg-4 my-2">
        <div class="card-compra">
          <div class="card-content d-flex flex-column align-items-center justify-content-around">
            <p class="text-center"><strong>Quarto de Casal</strong></p>
            <hr>
            <p>2° Lote</p>
            <p>R$ 2.320,00</p>
            <!-- <a href="https://app.glofox.com/portal/#/branch/605cb19ff9f3f065f15e2295/memberships/61e1b88786588044e52db7a7/plan/1660848634230/buy"
              target="_blank" class="btn-cta pb-4">
              Reservar</a> -->
            <a href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20do%20Retiro%20Medita%C3%A7%C3%A3o%20-%20Quarto%20de%20casal"
              target="_blank" class="btn-cta pb-4">
              Reservar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 my-2">
        <div class="card-compra">
          <div class="card-content d-flex flex-column align-items-center justify-content-around">
            <p class="text-center"><strong>Quarto com até 3 pessoas</strong></p>
            <hr>
            <p>2° Lote</p>
            <p>R$ 1.380,00</p>
            <!-- <a href="https://app.glofox.com/portal/#/branch/605cb19ff9f3f065f15e2295/memberships/61e1b88786588044e52db7a7/plan/1660848482623/buy"
              target="_blank" class="btn-cta pb-4">
              Reservar</a> -->
            <a href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20do%20Retiro%20Medita%C3%A7%C3%A3o%20-%20Quarto%20at%C3%A9%203%20pessoas"
              target="_blank" class="btn-cta pb-4">
              Reservar</a>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-4 my-2">
        <div class="card-compra">
          <div class="card-content d-flex flex-column align-items-center justify-content-around">
            <p class="text-center"><strong>Quarto com até 6 pessoas</strong></p>
            <hr>
            <p>2° Lote</p>
            <p>R$ 1.160,00</p>
            <!-- <a href="https://app.glofox.com/portal/#/branch/605cb19ff9f3f065f15e2295/memberships/61e1b88786588044e52db7a7/plan/1642182106383/buy"
              target="_blank" class="btn-cta pb-4">
              Reservar</a> -->
            <a href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20do%20Retiro%20Medita%C3%A7%C3%A3o%20-%20Quarto%20at%C3%A9%206%20pessoas"
              target="_blank" class="btn-cta pb-4">
              Reservar</a>
          </div>
        </div>
      </div>
    </div>
    <h5 class="subtitle-carrossel text-center mb-4">Pagamento até 6x com juros no cartão.</h5>
  </div>
</div>
