<footer class="my-5 py-3 container-fluid">
    <div class="row d-flex flex-column align-items-center justify-content-center text-center">
      <div class="col-12 d-flex flex-column align-items-center mb-3">
        <p>Certificação internacional Yoga Alliance - USA</p>
        <img src="../assets/certificado-footer.png" alt="">
      </div>
      <p><a href="https://g.page/studiointegralsp?share" target="_blank"><i class='bx bxs-map-pin icon-footer'></i></a>Rua
        Basílio da
        Cunha, 16 – Aclimação – São Paulo – SP</p>
      <p><a class="nav-link" [routerLink]="['/main/codigo-de-etica']">Clique aqui e leia nosso Código de Ética e Política
          de Reembolso</a>
      </p>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <a href="https://www.youtube.com/c/WalNunes" target="_blank"><i class='bx bxl-youtube  icon-footer mx-4'></i></a>
        <a href="https://www.instagram.com/studiointegral_yoga/" target="_blank"><i
            class='bx bxl-instagram-alt icon-footer mx-4'></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511982791420" target="_blank"><i
            class='bx bxl-whatsapp-square icon-footer mx-4'></i></a>
      </div>
      COPYRIGHT 2021 | STUDIO INTEGRAL® Todos os direitos reservados
    </div>
    <a href="https://api.whatsapp.com/send?phone=5511982791420" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
    z-index:1000;" target="_blank">
      <!--     <i style="margin-top:16px" class="fa fa-whatsapp"></i>
   --> <i style="margin-top:6px; margin-left: 1px; font-size: 3rem;" class='bx bxl-whatsapp'></i>
    </a>
  </footer>