.img{
  width: 370px;
  border-radius: 25px;
}

.main-banner{
  height: 400px;
  border-radius: 25px;
}

.text-limit{
  max-width: 800px;
}

.lista{
  list-style: none;
  font-size: 1.4rem;

}

.btn-cta{
  background-color: #5F2CA7;
  border-radius: 50px;
  font-size: 1.5rem;
  height: 55px;
  width:300px;
}
