<main>
  <div id="carouselExampleIndicatorsBanner" class="carousel slide carrosel-destaque" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/SlideRetiro1.jpg" class="d-block w-100 imagem-carrosel-banner" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/SlidesRetiro2.jpg" class="d-block w-100 imagem-carrosel-banner" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/SlidesRetiro3.jpg" class="d-block w-100 imagem-carrosel-banner" alt="...">
      </div>
    </div>
    <div class="text-banner">
      <h1 class="fonte-destaque-banner text-center">Formação Yoga</h1>
      <p class="texto-destaque-banner text-center">Treinamento profissional e Formação Internacional em Yoga, Meditação
        e Autoconhecimento</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center my-5 text-limit">
              Este programa foi desenvolvido de forma a promover a filosofia prática e os valores fundamentais dos
              métodos tradicionais do Yoga (Raja Yoga, Bhakti Yoga, Jñana Yoga, Karma Yoga e Tantra Yoga), despertando
              os participantes para uma percepção mais profunda, abrangente e integradora dos diferentes níveis e
              aspectos da experiência humana a partir de um mergulho no conhecimento eterno, atemporal, da milenar
              cultura indiana.
              <br>
              Muito além dos aspectos físicos, a prática do Yoga é um percurso dos níveis mais grosseiros aos mais sutis
              do Corpo, da Vida e da Mente rumo ao Si mesmo, ao Self, ao Eu, ao Atma, ao centro infinito de Consciência,
              Verdade e Bem Aventurança que, segundo a ciência védica, é a essência e a Unidade de todas as experiências
              e manifestações no Universo e de cada ser Humano.
            </p>
          </div>
          <div class="col-12 mb-5">
            <iframe width="100%" height="331" src="https://www.youtube.com/embed/IU_A0A17Os4"
              title="Depoimento Cura e Chakras" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center mb-5 text-limit">
              Nesta jornada, através das diferentes técnicas, ferramentas, métodos e dos principais textos sagrados
              do Yoga, o aluno construirá uma base consistente para sua prática e desenvolvimento pessoal e para a
              atuação como professor.
              <br>
              O Curso foi pensado para quem deseja vivenciar esse estilo de vida, quem deseja se profissionalizar ou se
              especializar nessa área. Nossa formação oferece o certificado internacional do Yoga Alliance, certificado
              que autoriza o exercício profissional em todo o mundo.
            </p>
          </div>
          <div class="col-12 d-flex justify-content-center mb-5">
            <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da formação!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grade">
    <div class="row grade d-flex justify-content-center">
      <h1 class=" title-bonus text-center my-3 pb-5">O que você vai aprender na Formação:</h1>
      <div class="row mb-4">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade ">90 Horas Técnicas, treino e Práticas</h6>
          <ul class="lista-grade">
            <li>Pranayama</li>
            <li>Anatomia Sutil</li>
            <li>Koshas : Corpo Denso , Corpos Sutis e Corpo Causal</li>
            <li>Prana (energia vital)</li>
            <li>Nadis</li>
            <li>Chakras</li>
            <li>Kundalini</li>
            <li>Meditação</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">30 Horas Yoga e Ciências Humanas</h6>
          <ul class="lista-grade">
            <li>História</li>
            <li>Filosofia</li>
            <li>Ética Profissional</li>
            <li>Textos Sagrados: Estudo comparativo dos principais estilos literários.</li>
            <li>Vedas, Upanishads, Mahabharata, Bhagavad gita, Puranas, Yoga Sutras de Patanjali, Hatha Yoga
              Pradipika.
            </li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">30 Horas Anatomia e Fisiologia</h6>
          <ul class="lista-grade">
            <li>Estudos dos Asanas , alinhamento de acordo com a visão da escola iyengar yoga.</li>
            <li>Benefícios e contra indicações.</li>
            <li>Anatomia aplicada ao yoga , fisiologia e biomecânica.</li>
            <li>Principais músculos envolvidos no ásana: Sistema Esquelético, Sistema Respiratório, Sistema
              Cardiovascular, Sistema Nervoso, Sistema Endócrino e Sistema Digestivo</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">50 Horas Atributos Profissionais</h6>
          <ul class="lista-grade">
            <li>Metodologia de Ensino</li>
            <li>Desenvolvimento Profissional</li>
            <li>Práticas de Ensino</li>
            <li>Compromisso ético e código de conduta</li>
            <li>Profissionalismo e empreendedorismo no Yoga</li>
            <li>Comunidade Yoga Alliance USA</li>
          </ul>
        </div>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center my-5">
        <h5 class="subtitle-grade text-center">9 módulos do Curso Conteúdo online e presenciais, ao longo de toda a
          formação</h5>
        <h5 class="subtitle-grade text-center">Material didático e certificação internacional pela Yoga Alliance USA
        </h5>
        <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da formação!</a>
      </div>
    </div>
  </div>

  <div class="professores">
    <div class="mt-4 d-flex flex-column justify-content-center">
      <div class="row ">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-center ">Conheça os professores da formação</h1>
          <!-- <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> -->
          <div id="carouselExampleIndicators" class="carousel slide my-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="indicador-carrossel active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                class="indicador-carrossel" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3" class="indicador-carrossel"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4" class="indicador-carrossel"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5" class="indicador-carrossel"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6" class="indicador-carrossel"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                aria-label="Slide 7" class="indicador-carrossel"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Fabi Paz - Professora de Anatomia do Yoga. Instrutora de Yoga.
                      Especialista em
                      terapias integrativas e Yoga para gestantes. Certificada pelo Yoga Alliance - EUA</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Igor Roda de Mantras - Instrutor de Yoga. Especialista em Filosofia
                      do Yoga e
                      Mantras</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Mateus Pigari - Instrutor de Yoga formado pelo Studio Integral e
                      certificado
                      pelo Yoga Alliance - EUA</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof4.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Dayanne da Silva Srvero - Formada em Educação Física
                      Pós graduada em Esportes e Atividade de Aventura.
                      Instrutora de pilates
                      Instrutora de yoga formada pelo Studio Integral e certificada pelo Yoga Alliance - EUA</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/profwal.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Wal Nunes - Mestre em Yoga e Meditação há mais de 10 anos. E
                      fundadora do Studio Integral.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Mestre Lakshman Gurukkal - Mestre da casa, ancora a energia do
                      Tantra</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                  <img src="../assets/prof6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center">Vanessa - Coordenadora e Instrutora de Yoga. Especialista em
                      Filosofia do Yoga. Certificada pelo Yoga Alliance - EUA</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="programacao">
      <h1 class="title-fotos text-center my-5">DATAS DE ENCONTROS: (2022 / 2023)​</h1>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-5 p-0 d-flex flex-column align-items-center">
          <ul class="lista-programacao">
            <li>27 e 28 - Agosto</li>
            <li>24 e 25 - Setembro</li>
            <li>12 e 15 - Outubro - Retiro Cura e Chakras</li>
            <li>19 e 20 - Novembro</li>
            <li>17 e 18 - Dezembro</li>
            <li>21 e 22 - Janeiro</li>
            <li>25 e 26 - Fevereiro</li>
            <li>25 e 26 - Março</li>
            <li>29 e 30 - Abril</li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 p-0 d-flex flex-column align-items-center text-programacao">
          <br>
          <p class="text-center">Sábados e domingos, das 09h às 18h, com uma hora de intervalo para o almoço</p>
          <p><strong>Local:</strong></p>
          <p>Sede do Studio Integral</p>
          <p>Rua Basílio da Cunha, 16 – Aclimação – SP</p>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da formação!</a>
      </div>
    </div>
  </div>
  <div class="row bonus">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class=" title-bonus text-center my-3">O que você vai levar de Bônus:</h1>
      <p class="text-center"><strong>Bônus</strong></p>
      <ul class="lista-bonus">
        <li>
          <i class="bx bxs-gift"></i> Acesso ilimitado por 9 meses as aulas ao vivo on-line com Wal
          Nunes.
        </li>
        <li>
          <i class="bx bxs-gift"></i> Apostila impressa.
        </li>
        <li>
          <i class="bx bxs-gift"></i> Mentoria Meditação com Wal Nunes.
        </li>
        <li>
          <i class="bx bxs-gift"></i> Mentoria de como aplicar a metodologia de ensino método
          iTantra.
        </li>
        <li>
          <i class="bx bxs-gift"></i> Conhecimento básico Kalaripayattu ( yoga dos guerreiros do sul
          da Índia).
        </li>
        <li>
          <i class="bx bxs-gift"></i> Iniciação as meditações Tantricas (Sadhana pessoal).
        </li>
        <li>
          <i class="bx bxs-gift"></i> Acesso ao grupo WhatsApp exclusivo ao grupo de Formação (Tirar
          dúvidas e orientação).
        </li>
        <li>
          <i class="bx bxs-gift"></i> Mentoria individual dependendo da necessidade pessoal de cada
          um!
        </li>
        <li>
          <i class="bx bxs-gift"></i> Orientação de como desenvolver Sadhana pessoal.
        </li>
      </ul>
    </div>
  </div>
  <div class="walnunes">
    <div class="my-4 d-flex flex-column justify-content-center">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-7 d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-center text-lg-start">Quem é Wal nunes?</h1>
          <p class="text-center text-limit">Wal Nunes - Mestre em Yoga e Meditação há mais de 10 anos. Praticante há
            mais de 20
            anos, fundou o Studio Integral, escola certificada pelo Yoga Alliance EUA. Criadora da Metodologia de
            treino
            iTantra que mistura Yoga, Meditação e Kalari. Ensinamentos das escolas tradicionais do sul da Índia
          </p>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
          <img class="imagem-wal" style="width: auto; height: 300px;" src="../assets/walnunes.png">
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <a class="btn btn-primary btn-card mt-4" href="https://youtu.be/_O-jph6Re1s" target="_blank">Saiba mais
            sobre Wal Nunes</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="depoimentos my-5">
      <div class="row d-flex justify-content-around align-items-center">
        <h1 class="title-fotos text-center mt-4">Depoimento dos Alunos</h1>
        <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
            src="https://www.youtube.com/embed/2zxsR3alLU8" title="DEPOIMENTO FORMAÇÃO STUDIO INTEGRAL" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
        <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
            src="https://www.youtube.com/embed/EXmUXwgWr5c"
            title="Depoimento Formação e Treinamento Internacional em Yoga" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
        <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
            src="https://www.youtube.com/embed/tz7dSGjTBAA" title="Depoimento Aluno | Studio Integral" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
      </div>
    </div>
    <div id="programacao">
      <h1 class="title-fotos text-center my-5">Retiro Cura e Chackras​</h1>
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-10 p-0 d-flex flex-column align-items-center text-limit">
          <p class="text-center">
            O Retiro Cura e Chakras faz parte do cronograma de nossa formação, é uma experiência intensa de
            autoconhecimento em meio a natureza, que tem como base a prática dos ensinamentos do Kalaripayattu
            (conhecida
            como o Yoga dos guerreiros do sul da Índia) e as meditações do Sri Vidya Tantra.
          </p>

          <p class="text-center">
            É também a oportunidade de quebrar padrões negativos, libertar-se de amarras do passado e enxergar nosso
            verdadeiro ser, através da leitura dos Chakras.
          </p>

          <p class="text-center">
            Nesta imersão são utilizadas técnicas que revelam e tratam emoções estagnadas, libertam do passado e
            permitem viver o poder do agora, o nosso poder de cura e restauração interior.
          </p>

          <p class="text-center">
            O Retiro nasceu em 2015, enquanto morava com meu mestre em Auroville na Índia, tive a oportunidade de
            apresentar as técnicas na minha escola da Índia e aprimorar o conhecimento com meus alunos de São Paulo, que
            desde 2016 participam da imersão, proporcionando impactantes mudanças aos participantes.
          </p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da formação!</a>
        </div>
      </div>
    </div>
  </div>
  <div id="compra" class="preco">
    <div class="row" id="compra">
      <div class="col-12 d-flex flex-column align-items-center justify-content-center p-3 mx-0 my-2">
        <h1 class="title-compra text-center">Valor da Capacitação + Retiro Cura e Chakras</h1>
        <h1 class="valor-compra">12x de R$ 918,00</h1>
        <button class="btn btn-primary btn-cta-compra my-4" href="https://api.whatsapp.com/send?phone=5511982791420"
          target="_blank">Reservar minha vaga!</button>
        <h5 class="valor-compra text-center">Entre em contato e veja opções de parcelamento</h5>
      </div>
    </div>
  </div>
</main>
