<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
      <h1 class=" my-5 pt-4">Aulas Online</h1>
      <div class="container-iframe">
        <iframe width="1120" height="530" src="https://www.youtube.com/embed/LUOZ4SVtLEE" title="Aulas Presenciais"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 d-flex flex-column align-items-center justify-content-center ">
      <div class="conteudo">
        <h1 class="my-5 text-black text-center">Aulas online ao vivo para praticar em qualquer lugar!</h1>
        <p class="text-center">Além dos horarios de praticas ao vivo,temos diversas aulas gravadas disponiveis para
          praticar no horario que peferir.</p>
        <p class="text-black text-center">O Studio Integral oferece um método que unifica as práticas tradicionais, o
          Yoga
          moderno e o Kalaripayattu (arte marcial ancestral ensinada nas escolas tântricas do sul da Índia). Com a
          unificação dessas práticas, surgiu nossa metodologia de ensino: o método iTantra. Uma metodologia inclusiva
          que
          facilita o desenvolvimento do aluno, independentemente da sua experiência dentro do universo do Yoga e da
          Meditação.</p>
      </div>
      <div class="conteudo mt-3">
        <h1 class="text-center">Valor</h1>
        <h3 class="text-black text-center">Plano mensal com praticas ilimitadas apenas: <br> R$99,00 </h3>
      </div>
      <div class="row d-flex flex-column my-5">
        <div class="col-12 d-flex justify-content-center my-4 py-3">
          <a class="btn btn-primary mx-4" href="/main/aulas-online#view-horarios">Horarios</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="text-black text-center">Conecte corpo, mente e espírito através do Tantra.<br>Vivencie essa
            experiência
            e entre no fluxo natural da vida. <br> Seu corpo é reflexo da sua alma.</p>
        </div>
      </div>
    </div>
    <div class="col-12 my-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center">
          <h2 class="text-center">Aula Experimental Gratuita</h2>
          <p class="text-center ">Conheça o nosso espaço e também o método iTantra, realizando sua primeira aula
            gratuita
            presencial!<br> Entre em contato e
            agende
            seu horario!<br>Não esta em São Paulo? Sem problemas, também temos aulas online!</p>
          <a class="btn-cta btn-primary mx-4"
            href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1%21%20Desejo%20realizar%20minha%20primeira%20aula%20gratuita%21">Agendar
            Aula <i class='bx bxl-whatsapp' style="font-size: 18px;"></i></a>
        </div>
        <div class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center my-4 my-md-0">
          <img src="../assets/aula-experimental.png" alt="" class="img-aula">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="professores mt-5">
        <div class="mt-4 d-flex flex-column justify-content-center">
          <div class="row ">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
              <h1 class="text-center ">Conheça os professores da formação</h1>
              <div id="carouselExampleIndicators" class="carousel slide my-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card d-flex flex-column align-items-center" style="width: 18rem;">
                      <img src="../assets/profwal.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text text-center">Wal Nunes - Mestre em Yoga e Meditação há mais de 10 anos. E
                          fundadora do Studio Integral.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                      <img src="../assets/prof3.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text text-center">Mateus Pigari - Instrutor de Yoga formado pelo Studio Integral
                          e
                          certificado
                          pelo Yoga Alliance - EUA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex flex-column align-items-center my-3 p-lg-5" id="view-horarios">
      <h1>Horarios</h1>
      <iframe src="https://app.glofox.com/portal/#/branch/605cb19ff9f3f065f15e2295/classes-list-view?header=classes"
        frameborder="0" width="100%" height="600"></iframe>
    </div>
  </div>
</div>
