<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h1>Planos e Preços</h1>
      <div class="row  mb-5">
        <h5 class=" text-center mt-5 mb-3">Plano Mensal - Aulas Presenciais </h5>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/aula-plano.png" class="img-valores" alt="">
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td>Pratica 1x Semana</td>
                <td>R$ 205,00</td>
              </tr>
              <tr>
                <td>Pratica 2x Semana</td>
                <td>R$ 320,00</td>
              </tr>
              <tr>
                <td>Pratica 3x Semana</td>
                <td>R$ 320,00</td>
              </tr>
              <tr>
                <td>Free Pass</td>
                <td>R$ 545,00</td>
              </tr>
              <tr>
                <td>Promo horario tarde</td>
                <td>R$ 224,00</td>
              </tr>
            </tbody>
          </table>
          <button class="btn-cta btn-primary mx-4"> Comprar <i class='bx bxl-whatsapp'
              style="font-size: 18px;"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 mb-3 d-flex justify-content-center">
          <h5 class=" ">Massagens e Terapias</h5>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <img src="../assets/massagem.png" class="img-valores" alt="">
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td>Massagem Relaxante</td>
                <td>R$ 140,00</td>
              </tr>
              <tr>
                <td>Massagem + Banho Energético</td>
                <td>R$ 220,00</td>
              </tr>
              <tr>
                <td>Banho Limpeza</td>
                <td>R$ 140,00</td>
              </tr>
              <tr>
                <td>Thai Massagem</td>
                <td>R$ 350,00</td>
              </tr>
              <tr>
                <td>Leitura Tarô</td>
                <td>R$ 280,00</td>
              </tr>
            </tbody>
          </table>
          <button class="btn-cta btn-primary mx-4">Comprar <i class='bx bxl-whatsapp'
              style="font-size: 18px;"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
