<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-4">
      <h1>Meditação Lua Cheia</h1>
      <div class="row mb-5 d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center text-limit mb-3">
          <p class="mt-4 text-center">A meditação da Lua Cheia é uma prática das escolas tradicionais que cultuam a
            energia de Shakti, e um evento online gratuito que acontece toda lua cheia através do nosso aplicativo
            online iTantra Club.</p>
          <img src="../assets/lua-cheia-banner.jpg" alt="Deusa Shakti" class="main-banner my-3">
          <h5>Porque Meditar na Lua Cheia?</h5>
          <p class="text-center">Como a lua tem efeito nas águas do planeta, ela também afeta nossas emoções e nosso
            corpo que é
            composto por cerca de 70% água.
            Assim meditar nesta data diminui os efeitos do nosso sistema, além disso quando meditamos juntos, o efeito
            positivo ainda é potencializado.
          </p>
          <p class="text-center">Nos livros sagrados da índia, menciona os efeitos da lua sobre nosso corpo, a lua teria
            influência
            direta na glândula pineal, de onde são secretados hormônios vitais para o bom funcionamento do nosso
            organismo.</p>
          <h5 class="mt-3">Próximas Datas</h5>
          <ul class="lista">
            <li>11/08 - Quinta 20:00hrs</li>
            <li>10/09 - Sábado 20:00hrs</li>
            <li>09/10 - Domingo 20:00hrs</li>
            <li>08/11 - Terça 20:00hrs</li>
            <li>07/12 - Quarta 20:35hrs</li>
          </ul>
          <a class="btn btn-primary btn-cta my-3"
            href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20da%20Medita%C3%A7%C3%A3o%20Lua%20Cheia"
            target="_blank">Eu quero participar!</a>
        </div>
        <h3 class="my-5 text-center">Meditação Lua Cheia</h3>
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-4">
            <img src="../assets/lua-cheia1.jpg" class="img" alt="">
          </div>
          <div class="col-12 col-md-5 mt-2 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center">A lua na nossa linhagem tântrica é o centro de todos os rituais sagrados,
              reverenciamos
              a energia feminina através dela - a Grande Deusa, nos conectamos com o que há de mais Sagrado em nós,
              nosso
              poder de criação.</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-12 col-md-7 mt-2 d-flex flex-column justify-content-center align-items-center">
            <p class="text-center">A lua cheia nos impulsiona a mover, ir além, nos dar aquela força para fazer o que é
              preciso fazer, não importa o que seja. </p>
            <p class="text-center">Mas para isso, é preciso tirar a confusão da mente e deixar bem claro nossos
              objetivos e foco.</p>
            <p class="text-center">Em roda online, refletimos sobre questões da alma, dos desejos que nos move, e nos
              alinhamos com o nosso ser Divino para vida nos colocar no fluxo da prosperidade e abundância.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <img src="../assets/lua-cheia2.jpg" class="img" alt="">
          </div>
          <a class="btn btn-primary btn-cta my-5"
            href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20da%20Medita%C3%A7%C3%A3o%20Lua%20Cheia"
            target="_blank">Eu quero participar!</a>
        </div>

      </div>
    </div>
  </div>
</div>
