
<section id="banner">
  <div class="d-none d-lg-block"><img src="../assets/formacaoDesk.png" alt="" class="img-banner"></div>
  <div class="d-block d-lg-none"><img src="../assets/formacaoMobile.png" alt="" class="img-banner"></div>
</section>
<section id="content">
  <div class="container mt-5">
    <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center mt-5" style="font-size: 2rem;">Formação de professores de Yoga com
        certificação internacional</h1>
      <p class="text-center ">Experimente uma transformação profunda e encontre finalmente propósito
        para
        sua vida
        através da nossa formação internacional de professores de Yoga</p>
      <div id="carouselExampleIndicators2" class="carousel slide mb-5 carrosel-fotos" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
            class="indicador-carrossel active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/formacao-yoga1.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/formacao-yoga2.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/formacao-yoga3.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/formacao-yoga4.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/formacao-yoga5.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/formacao-yoga6.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../assets/formacao-yoga7.jpg" class="d-block imagem-carrosel" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="prev">
          <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="next">
          <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="col-12 d-flex flex-column align-items-center justify-content-center mt-5">
        <h3 class=" title-bonus text-center ">Formação certificada internacionalmente pela Yoga Alliance</h3>
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-4 d-flex justify-content-center">
            <img src="../assets/certificado.jpg" alt="" class="img-certificado mt-5" loading="lazy">
          </div>
          <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center text-center p-2">
            <p>
              A formação extensiva de 200h do Studio Integral é certificada pela Yoga Alliance , a organização
              mais reconhecida no mundo para treinamento de Yoga.
              <br>Nossa capacitação em Yoga, portanto, atende aos padrões internacionais, bem como à ética moral.
              <br>Eles permitem que você, ao completar a carga horária total exigida ( 200 horas) , ensine em
              qualquer lugar do mundo, com a certeza de ter uma qualificação reconhecida onde quer que vá.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-5">
        <h3 class=" title-bonus text-center ">Treinamento baseado no Método Itantra - método reconhecido
          e
          certificado pelo Yoga Alliance.</h3>
        <p class="text-center  my-3">
          Este programa foi desenvolvido de forma a promover a filosofia prática e os valores fundamentais dos
          métodos tradicionais do Yoga (Raja Yoga, Bhakti Yoga, Jñana Yoga, Karma Yoga e Tantra Yoga), despertando
          os participantes para uma percepção mais profunda, abrangente e integradora dos diferentes níveis e
          aspectos da experiência humana a partir de um mergulho no conhecimento eterno, atemporal, da milenar
          cultura indiana.
          <br>
          Nesta jornada de 9 meses, através das diferentes técnicas, ferramentas, métodos e dos principais textos
          sagrados do Yoga, o aluno construirá uma base consistente para sua prática e desenvolvimento pessoal e
          para a atuação como professor.
          O Curso foi pensado para quem deseja vivenciar esse estilo de vida, quem deseja se profissionalizar ou
          se
          especializar nessa área. Nossa formação oferece o certificado internacional do Yoga Alliance,
          certificado
          que autoriza o exercício profissional em todo o mundo.
        </p>
      </div>
      <div class="col-12 mb-3 d-flex justify-content-center">
        <iframe width="700" height="331" src="https://www.youtube.com/embed/IU_A0A17Os4"
          title="Depoimento Cura e Chakras" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <p class="text-center  ">
          <b>Uma jornada para um destino comum</b>
          (sem necessariamente seguir o mesmo caminho)
          A situação atual exige um novo olhar para o campo de possibilidades e os alunos que acompanham nosso
          treinamento de Yoga têm uma coisa em comum.
          <br>
          Todos chegarão ao mesmo destino: o ensino do Yoga como professores. (após atingir a carga horária
          exigida)
          <br>
          Ao seguir um treino baseado no método Itantra, você escolhe diferentes níveis de aula ao vivo Online de
          segunda a sexta com a mestre Wal Nunes, sem qualquer limite ou constrangimento, mas com alavancas de
          motivação para guiá-lo, ajudá-lo e acompanhá-lo no seu desenvolvimento pessoal e como professor.
          <br>
          Você tem acesso por 9 meses a nossa plataforma Online .
        </p>
        <img src="../assets/wal-formacao.jpg" class="img-wal-formacao" alt="">
      </div>
      <div class="col-12 d-flex justify-content-center my-5">
        <a class="btn btn-primary btn-card" href="/main/formacao#compra">Quero participar da formação!</a>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="grade">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <h1 class=" title-bonus text-center mt-5">O que você vai aprender na Formação:</h1>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade ">90 Horas Técnicas, treino e Práticas</h6>
          <ul class="lista-grade">
            <li>Pranayama</li>
            <li>Anatomia Sutil</li>
            <li>Koshas : Corpo Denso , Corpos Sutis e Corpo Causal</li>
            <li>Prana (energia vital)</li>
            <li>Nadis</li>
            <li>Chakras</li>
            <li>Kundalini</li>
            <li>Meditação</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">30 Horas Yoga e Ciências Humanas</h6>
          <ul class="lista-grade">
            <li>História</li>
            <li>Filosofia</li>
            <li>Ética Profissional</li>
            <li>Textos Sagrados: Estudo comparativo dos principais estilos literários.</li>
            <li>Vedas, Upanishads, Mahabharata, Bhagavad gita, Puranas, Yoga Sutras de Patanjali, Hatha Yoga
              Pradipika.
            </li>
  
          </ul>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">30 Horas Anatomia e Fisiologia</h6>
          <ul class="lista-grade">
            <li>Estudos dos Asanas , alinhamento de acordo com a visão da escola iyengar yoga.</li>
            <li>Benefícios e contra indicações.</li>
            <li>Anatomia aplicada ao yoga , fisiologia e biomecânica.</li>
            <li>Principais músculos envolvidos no ásana: Sistema Esquelético, Sistema Respiratório, Sistema
              Cardiovascular, Sistema Nervoso, Sistema Endócrino e Sistema Digestivo</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <h6 class="subtitle-grade">50 Horas Atributos Profissionais</h6>
          <ul class="lista-grade">
            <li>Metodologia de Ensino</li>
            <li>Desenvolvimento Profissional</li>
            <li>Práticas de Ensino</li>
            <li>Compromisso ético e código de conduta</li>
            <li>Profissionalismo e empreendedorismo no Yoga</li>
            <li>Comunidade Yoga Alliance USA</li>
          </ul>
        </div>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center my-3">
        <h5 class="subtitle-grade text-center">Material didático e certificação internacional pela Yoga
          Alliance USA
        </h5>
        <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da
          formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="faq">
  <div class="container mt-5">
    <div class="row ">
      <div class=" col-12 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center mb-5">Por que fazer o treinamento inicial em Yoga com certificação internacional e
          baseado no método Itantra?</h1>
        <div class="row">
          <div class="col-12 mb-3 d-flex flex-column justify-content-start align-items-start">
            <h5 class="question-faq">Você pode utilizar a capacitação para 2 finalidades.</h5>
            <p>O programa pode ser realizado como um curso livre para autoconhecimento ou melhor compreensão da
              filosofia de yoga</p>
          </div>
          <div class="col-12 mb-3 d-flex flex-column justify-content-start align-items-start">
            <h5 class="question-faq">Para habilidades profissionais </h5>
            <p>Você tem interesse em desenvolver habilidades de professor de Yoga para criar um negócio ou fazer o
              seu negócio crescer rapidamente?

              Não há necessidade de esperar o ano seguinte, não há limite de espaço: Sua capacitação inicial está
              acessível imediatamente e seu certificado de fim de treinamento espera por você assim que terminá-lo.
            </p>
          </div>
          <div class="col-12 mb-3 d-flex flex-column justify-content-start align-items-start">
            <h5 class="question-faq">Para conteúdo exclusivo</h5>
            <p>Projetamos este treinamento inicial para professores de Yoga para que você tenha acesso a um conteúdo
              rico e de qualidade, que é único no Brasil.
              Toda a educação postural, teórica, energética, fisiológica / anatômica é fornecida pela mestre Wal
              Nunes e por profissionais da área capacitados por ela ou professores renomados que fazem parte da
              grade de professores convidados..
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-3 mb-5">
        <a class="btn btn-primary btn-card" href="/main/formacao#compra">Quero participar da formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="depoimentos">
  <div class="container mt-5">
    <div class="row d-flex justify-content-around align-items-center">
      <h1 class="title-fotos text-center mt-4">Depoimento dos Alunos</h1>
      <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
          src="https://www.youtube.com/embed/2zxsR3alLU8" title="DEPOIMENTO FORMAÇÃO STUDIO INTEGRAL" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
      <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
          src="https://www.youtube.com/embed/EXmUXwgWr5c"
          title="Depoimento Formação e Treinamento Internacional em Yoga" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
      <div class="col-12 col-lg-3 d-flex justify-content-center my-2"><iframe width="380" height="300"
          src="https://www.youtube.com/embed/tz7dSGjTBAA" title="Depoimento Aluno | Studio Integral" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
    </div>
  </div>
</section>
<section id="programacao">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <h1 class="title-fotos text-center my-5">DATAS DE ENCONTROS: (2022 / 2023)​</h1>
      </div>
      <div class="col-12 col-lg-5 p-0 d-flex flex-column align-items-center">
        <ul class="lista-programacao">
          <li>24 e 25 - Setembro</li>
          <li>29 e 30 - Outubro</li>
          <li>11 e 15 - Novembro - Retiro Cura e Chakras</li>
          <li>17 e 18 - Dezembro</li>
          <li>21 e 22 - Janeiro</li>
          <li>25 e 26 - Fevereiro</li>
          <li>25 e 26 - Março</li>
          <li>29 e 30 - Abril</li>
          <li>27 e 28 - Maio</li>
        </ul>
      </div>
      <div class="col-12 col-lg-5 p-0 d-flex flex-column align-items-center text-programacao">
        <br>
        <p class="text-center">Sábados e domingos, das 09h às 18h, com uma hora de intervalo para o almoço
        </p>
        <p><strong>Local:</strong></p>
        <p>Sede do Studio Integral</p>
        <p>Rua Basílio da Cunha, 16 – Aclimação – SP</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da
          formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="bonus">
  <div class="container mt-5">
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class=" title-bonus text-center my-3">O que você vai levar de Bônus:</h1>
        <p class="text-center"><strong>Bônus</strong></p>
        <ul class="lista-bonus">
          <li>
            <i class="bx bxs-gift"></i> Acesso ilimitado por 9 meses as aulas ao vivo on-line com Wal
            Nunes.
          </li>
          <li>
            <i class="bx bxs-gift"></i> Mentoria Meditação com Wal Nunes.
          </li>
          <li>
            <i class="bx bxs-gift"></i> Mentoria de como aplicar a metodologia de ensino método
            iTantra.
          </li>
          <li>
            <i class="bx bxs-gift"></i> Conhecimento básico Kalaripayattu ( yoga dos guerreiros do sul
            da Índia).
          </li>
          <li>
            <i class="bx bxs-gift"></i> Iniciação as meditações Tantricas (Sadhana pessoal).
          </li>
          <li>
            <i class="bx bxs-gift"></i> Acesso ao grupo WhatsApp exclusivo ao grupo de Formação (Tirar
            dúvidas e orientação).
          </li>
          <li>
            <i class="bx bxs-gift"></i> Mentoria individual dependendo da necessidade pessoal de cada
            um!
          </li>
          <li>
            <i class="bx bxs-gift"></i> Orientação de como desenvolver Sadhana pessoal.
          </li>
        </ul>
        <a class="btn btn-primary btn-card my-3" href="/main/formacao#compra">Quero participar da
          formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="professores">
  <div class="container mt-5">
    <div class="row ">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center ">Conheça os professores da formação</h1>
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
              class="indicador-carrossel active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              class="indicador-carrossel" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3" class="indicador-carrossel"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4" class="indicador-carrossel"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
              aria-label="Slide 5" class="indicador-carrossel"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
              aria-label="Slide 6" class="indicador-carrossel"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
              aria-label="Slide 7" class="indicador-carrossel"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Fabi Paz - Professora de Anatomia do Yoga. Instrutora
                    de Yoga.
                    Especialista em
                    terapias integrativas e Yoga para gestantes. Certificada pelo Yoga Alliance - EUA</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Igor Roda de Mantras - Instrutor de Yoga. Especialista
                    em Filosofia
                    do Yoga e
                    Mantras</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Mateus Pigari - Instrutor de Yoga formado pelo Studio
                    Integral e
                    certificado
                    pelo Yoga Alliance - EUA</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Dayanne da Silva Srvero - Formada em Educação Física
                    Pós graduada em Esportes e Atividade de Aventura.
                    Instrutora de pilates
                    Instrutora de yoga formada pelo Studio Integral e certificada pelo Yoga Alliance - EUA
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/profwal.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Wal Nunes - Mestre em Yoga e Meditação há mais de 10
                    anos. E
                    fundadora do Studio Integral.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Mestre Lakshman Gurukkal - Mestre da casa, ancora a
                    energia do
                    Tantra</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-flex flex-column align-items-center" style="width: 18rem;">
                <img src="../assets/prof6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Vanessa - Coordenadora e Instrutora de Yoga.
                    Especialista em
                    Filosofia do Yoga. Certificada pelo Yoga Alliance - EUA</p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="walnunes">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center text-lg-start">Quem é Wal nunes?</h1>
        <p class="text-center ">Wal Nunes - Mestre em Yoga e Meditação há mais de 10 anos.
          Praticante há
          mais de 20
          anos, fundou o Studio Integral, escola certificada pelo Yoga Alliance EUA. Criadora da
          Metodologia de
          treino
          iTantra que mistura Yoga, Meditação e Kalari. Ensinamentos das escolas tradicionais do sul da
          Índia
        </p>
      </div>
      <div class="col-12 mb-4 d-flex justify-content-center">
        <iframe width="700" height="331" src="https://www.youtube.com/embed/_O-jph6Re1s"
          title="Depoimento Cura e Chakras" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-card mt-3" href="/main/formacao#compra">Quero participar da
          formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="programacao-retiro">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center mb-5">
      <div class="col-12">
        <h1 class="title-fotos text-center my-5">Retiro Cura e Chackras​</h1>
      </div>
      <div class="col-10 p-0 d-flex flex-column align-items-center ">
        <p class="text-center">
          O Retiro Cura e Chakras faz parte obrigatório pelas regras do Yoga Alliance do cronograma de nossa formação,
          é uma experiência intensa de
          autoconhecimento em meio a natureza, que tem como base a prática dos ensinamentos do
          Kalaripayattu
          (conhecida
          como o Yoga dos guerreiros do sul da Índia) e as meditações do Sri Vidya Tantra.
        </p>

        <p class="text-center">
          É também a oportunidade de quebrar padrões negativos, libertar-se de amarras do passado e
          enxergar nosso
          verdadeiro ser, através da leitura dos Chakras.
        </p>

        <p class="text-center">
          Nesta imersão são utilizadas técnicas que revelam e tratam emoções estagnadas, libertam do
          passado e
          permitem viver o poder do agora, o nosso poder de cura e restauração interior.
        </p>

        <p class="text-center">
          O Retiro nasceu em 2015, enquanto morava com meu mestre em Auroville na Índia, tive a
          oportunidade de
          apresentar as técnicas na minha escola da Índia e aprimorar o conhecimento com meus alunos de
          São Paulo, que
          desde 2016 participam da imersão, proporcionando impactantes mudanças aos participantes.
        </p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-card my-5" href="/main/formacao#compra">Quero participar da
          formação!</a>
      </div>
    </div>
  </div>
</section>
<section id="compra">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center">Valores</h1>
        <p class=" text-center">Um treinamento desse nível, com certificação internacional + a participação do
          retiro Cura
          e Chakras, com um
          método de ensino validado pelo Yoga Alliance, e que representa o início da sua jornada para se tornar um
          professor de Yoga competente e reconhecido por onde passa, poderia custar no mínimo, bem no mínimo mesmo, a
          quantia de R$ 11.016,00</p>
        <p class="text-center"><b>Mas hoje, nós temos uma excelente surpresa para você:</b></p>
      </div>
    </div>
  </div>
</section>
<section id="preco">
  <div class="container mt-5">
    <div class="row container-fluid">
      <div class=" col-12 d-flex flex-column align-items-center justify-content-center p-2 mx-0 my-2">
        <h1 class="title-compra text-center my-3">Promoção Lançamento</h1>
        <h2 class="title-compra text-center">Treinamento para professores de yoga – Studio integral – Yoga Alliance +
          Retiro Cura e Chakras</h2>
        <p class="valor-compra">De <s>R$ 11.016,00</s></p>
        <p class="valor-compra mb-0">Por 12x R$ 832,00</p>
        <p>Ou R$ 9.367,00 à vista</p>
        <a class="btn btn-primary btn-cta-compra my-4"
          href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Quero%20participar%20da%20Forma%C3%A7%C3%A3o%20de%20Yoga!"
          target="_blank">Reservar minha vaga!</a>
        <p class="text-center ">
          Você é totalmente livre para aceitar nossa oferta ou não.</p>
        <p class="text-center ">
          Mas diante de tudo que te mostramos até aqui, acreditamos que a decisão mais inteligente seja aceitá-la o
          quanto antes.
        </p>
        <p class="text-center "> Principalmente quando se trata de aumentar o seu autoconhecimento, se
          desenvolver pessoalmente e finalmente
          encontrar um propósito maior para sua vida.
          Além de, claro, desenvolver habilidades de um professor de Yoga para criar um négocio e aumentar sua renda
          consideravelmente, podendo essa ser até a sua renda principal.
          E o melhor de tudo: ajudando várias pessoas pelo caminho a também se encontrarem, desenvolvendo um maior
          autoconhecimento, propósito, saúde e qualidade de vida.</p>
  
        <p class="text-center ">Todos esses benefícios e possibilidades estão acessíveis AGORA para você
          através do nosso curso de formação
          certificado internacionalmente e baseado em um método aprovado pelo Yoga Alliance.</p>
      </div>
    </div>
  </div>
</section>


