.img-valores{
  width: 370px;
  border-radius: 25px;
}


.btn-cta{
  background-color: #01BD2A;
  border-radius: 50px;
  width: auto;
  border: 2px solid #fff;
  height: auto;

  min-height: 45px;
  min-width: 350px;
}
