<section id="banner">
  <div class="header d-none d-sm-block">
    <img class="img-header" src="../assets/bannerRetiroWeb.png" alt="">
    <div class="text-header">
      <h1 class="main-text">Retiro Yoga <br> Cura e Chakras</h1>
      <p class="sub-text">Uma experiência única em meio a natureza, <br> para recarregar e
        harmonizar as
        energias.</p>
    </div>
  </div>
  <div class="header d-block d-sm-none">
    <img class="img-header" src="../assets/bannerRetiroMobile.png" alt="">
    <div class="text-header">
      <h1 class="main-text">Retiro Yoga <br> Cura e Chakras</h1>
      <p class="sub-text">Uma experiência única em meio a natureza, <br> para recarregar e
        harmonizar as
        energias.</p>
    </div>
  </div>
</section>
<section id="content1">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h1 class="text-center  my-5">Transforme a si mesmo e tenha a possibilidade de mudar sua realidade
          com esta imersão.</h1>
        <div id="carouselExampleIndicators2" class="carousel slide mb-5 carrosel-fotos" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
              class="indicador-carrossel active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/retiro1.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/retiro2.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiro3.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiro4.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiro5.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiro6.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiro7.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
          </div>
          <div class="d-none d-md-block">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide="prev">
              <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
              data-bs-slide="next">
              <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <h1 class="text-center mt-4 mb-3"> O que é o Retiro Cura e Chakras?</h1>
        <p class="text-center">Uma nova forma de se ver através de uma leitura da alma.</p>
        <p class="text-center">Quem sou eu?</p>
        <p class="text-center">Porque sempre faço as mesmas escolhas?</p>
        <p class="text-center">Ou atraio as mesmas situações?</p>
        <p class="text-center mb-5 ">
          O retiro Cura e Chakras é uma experiência intensa de autoconhecimento, que tem como base a prática dos
          ensinamentos do Kalaripayattu (conhecida como o Yoga dos guerreiros do sul da Índia) e as meditações do
          Sri Vidya Tantra.
          <br>
          É também a oportunidade de quebrar padrões negativos, libertar-se de amarras do passado e enxergar nosso
          verdadeiro ser, através da leitura dos Chakras.
          <br>
          Nesta imersão são utilizadas técnicas que revelam e tratam emoções estagnadas, libertam do passado e
          permitem viver o poder do agora, o nosso poder de cura e restauração <b>interior</b>.
        </p>
      </div>
      <div class="col-12 mb-5 d-flex justify-content-center">
        <iframe width="600" height="331" src="https://www.youtube.com/embed/o328iszgByw"
          title="Depoimento Cura e Chakras" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-12  d-flex flex-column align-items-center">
        <p class="text-center mb-5 ">
          O Cura e Chakras foi desenvolvido pela mestre Wal Nunes a partir de anos de estudos sobre Yoga,
          autoconhecimento e padrões das doenças mais comuns entre seus alunos. Em sua observação, ela descobriu que
          alguns padrões de pensamento e atitudes cotidianas revertem-se em quadros de estresse, ansiedade,
          insegurança e baixa autoestima, que por sua vez se transforma em doenças como depressão, diabetes,
          obesidade, hipertensão, entre outras.
          <br>
          O retiro atende pessoas de todos os níveis, desde de pessoas que nunca praticaram yoga e meditação a
          alunos avançados.
          <br>
          Uma forma de se conhecer e aprimorar seu Sadhana pessoal.
        </p>
      </div>
      <div class="col-12 d-flex justify-content-center mb-5">
        <a class="btn btn-primary btn-card" href="/main/retiro#compra">Eu quero participar!</a>
      </div>
    </div>
  </div>
</section>
<section id="fotos">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="title-fotos text-center my-4">Fotos do Local</h1>
        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" class="indicador-carrossel active" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" class="indicador-carrossel" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="10" aria-label="Slide 11"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao3.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item active">
              <img src="../assets/retiromeditacao1.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/retiromeditacao2.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao4.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao5.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao6.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao7.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao8.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao9.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao10.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../assets/retiromeditacao11.jpeg" class="d-block imagem-carrosel" alt="...">
            </div>
          </div>
          <div class="d-none d-md-block">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="bx bx-chevron-left icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="bx bx-chevron-right icon-carrosel" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="vivencias">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center justify-content-center">
        <h1 class="title-fotos text-center my-3">Oque você vai vivenciar no retiro</h1>
        <p class="text-center">Uma desintoxicação profunda com o intuito de purificar os sentidos.</p>
          <p class="text-center">
            Toda alimentação é planejada para atender a necessidade física e energética , onde o participante pode
            sentir
            no
            corpo
            o quanto uma alimentação consciente pode nos proporcionar mais energia e qualidade de vida.
            Em parceria com a Royal Prestige - toda alimentação é preparada livre de metais pesados.
            Toda alimentação é vegetariana e lacto vegetariana, atendendo também a necessidade de veganos.
            Vai ter filtro com água alcalina para equilibrar o corpo.
          </p>
          <p class="text-center"><strong>Cronograma de práticas física:</strong></p>
          <p class="text-center">Práticas de yoga, meditação e kalaripayattu, de acordo com a necessidade do grupo.</p>
          <p class="text-center"><strong>Aulas de Filosofia:</strong></p>
          <p class="text-center">
            Aulas filosóficas sobre a alma e como o Tantra enxerga a manifestação do espírito na matéria.
          </p>
          <p class="text-center">O retiro Cura e Chakras faz parte do cronograma do nosso Treinamento e Formação 200
            horas
            credenciado pelo Yoga
            Veja as opções e descontos para quem fizer o retiro mais a formação.
          <p class="text-center">Veja as opções e descontos para quem fizer o retiro mais a formação.</p>
      </div>
      <div class="col-12 d-flex justify-content-center mb-5">
        <a class="btn btn-primary btn-card" href="/main/retiro#compra">Eu quero participar!</a>
      </div>
    </div>
  </div>
</section>
<section id="walnunes">
  <div class="container mt-5">
    <div class="row py-5">
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center text-lg-start">Quem é Wal nunes?</h1>
        <p class="text-center ">Wal Nunes – Mestre em Yoga e Meditação há mais de 10 anos. Praticante há
          mais de 20
          anos, fundou o Studio Integral, escola certificada pelo Yoga Alliance EUA. Criadora da Metodologia de
          treino
          iTantra que mistura Yoga, Meditação e Kalari. Ensinamentos das escolas tradicionais do sul da Índia
        </p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
        <img class="imagem-wal" style="width: auto; height: 300px;" src="../assets/walnunes.png">
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary btn-card" href="/main/retiro#compra">Eu quero participar!</a>
      </div>
    </div>
  </div>
</section>
<section id="programacao">
  <div class="container mt-5">
    <h1 class="title-fotos text-center my-3">Programação</h1>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
        <h4 class="dia-programacao ms-4">
          Dia 11 de Novembro - Sexta Feira
        </h4>
        <ul class="lista-programacao">
          <li>18h – Chegada dos participantes</li>
          <li>19:30h – Cerimônia de abertura</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
        <h4 class="dia-programacao ms-4">
          Dia 12 de Novembro - Sábado
        </h4>
        <ul class="lista-programacao">
          <li>06h às 07h – Prática de meditação</li>
          <li>07h às 09h – Aula pratica kalaripayattu.</li>
          <li>09h às 10:30h – Café da manhã</li>
          <li>10:30h às 12h – Karma Yoga</li>
          <li>12h às 13:30h – Aula filosófica(Koshas)</li>
          <li>13:30h às 14:30h – Almoço</li>
          <li>14:30h às 16:30h – Tempo livre</li>
          <li>16:30h às 17:30h – Chá tarde</li>
          <li>17:30h às 18:30h – Aula prática de Yoga</li>
          <li>18:30h às 19:30h – Roda de Mantras</li>
          <li>20h – Jantar</li>
        </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-6  d-flex flex-column align-items-center">
        <h4 class="dia-programacao ms-4">Dia 13 de Novembro - Domingo</h4>
        <ul class="lista-programacao">
          <li>06h às 07h – Prática de meditação</li>
          <li>07h às 09h – Aula pratica kalaripayattu.</li>
          <li>09h às 10:30h – Café da manhã</li>
          <li>10:30h às 12h – Karma Yoga</li>
          <li>12h às 13:30h – Aula filosófica(Koshas)</li>
          <li>13:30h às 14:30h – Almoço</li>
          <li>14:30h às 16:30h – Tempo livre</li>
          <li>16:30h às 17:30h – Chá tarde</li>
          <li>17:30h às 18:30h – Aula prática de Yoga</li>
          <li>18:30h às 19:30h – Roda de Mantras</li>
          <li>20h – Jantar</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
        <h4 class="dia-programacao ms-4">
          Dia 14 de Novembro - Segunda
        </h4>
        <ul class="lista-programacao">
          <li>06h às 07h – Prática de meditação</li>
          <li>07h às 09h – Aula pratica kalaripayattu.</li>
          <li>09h às 10:30h – Café da manhã</li>
          <li>10:30h às 12h – Karma Yoga</li>
          <li>12h às 13:30h – Aula filosófica(Koshas)</li>
          <li>13:30h às 14:30h – Almoço</li>
          <li>14:30h às 16:30h – Tempo livre</li>
          <li>16:30h às 17:30h – Chá tarde</li>
          <li>17:30h às 18:30h – Aula prática de Yoga</li>
          <li>18:30h às 19:30h – Roda de Mantras</li>
          <li>20h – Jantar</li>
        </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
        <h4 class="dia-programacao ms-4">
          Dia 15 de Novembro - Terça
        </h4>
        <ul class="lista-programacao">
          <li>08h – Prática de yoga e meditação</li>
          <li>09h – Encerramento</li>
          <li>10h – Brunch</li>
          <li>12h – Karma Yoga e retorno</li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <a class="btn btn-primary btn-card mb-5 mt-2" href="/main/retiro#compra">Eu quero participar!</a>
      <h1 class="title-fotos text-center my-5">Vagas Limitadas!</h1>
    </div>
    
  </div>
</section>
<section id="preco">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center m-0 pt-4">
      <div class="col-12 col-lg-5 d-flex flex-column align-items-center p-0">
        <h4>Data</h4>
        <p class="texto-preco">11/11 á 14/11</p>
      </div>
      <div class="col-12 col-lg-5 d-flex flex-column align-items-center p-0">
        <h4>Local</h4>
        <p class="texto-preco">Sitio da Colina - Itapevi SP</p>
      </div>
      <div class="col-12 d-flex flex-column align-items-center p-0">
        <div class="d-flex justify-content-center">
          <div class="card-compra mx-3">
            <div class="card-content d-flex flex-column align-items-center justify-content-around">
              <p class="text-center"><strong>Retiro Cura e Chakras</strong></p>
              <hr>
              <p>R$ 2.890,00 à vista</p>
              <p class="text-center">Ou 6x de R$ 518,00</p>
              <a href="https://api.whatsapp.com/send?phone=5511982791420&text=Ol%C3%A1!%20Eu%20quero%20reservar%20minha%20vaga%20no%20retiro%20Cura%20e%20Chakras!"
                target="_blank" class="btn-cta pb-4">
                Reservar</a>
            </div>
          </div>
        </div>
        <p class="mt-3"></p>
      </div>
    </div>
  </div>
</section>
<section id="depoimento">
  <div class="container mt-5">
    <div class="row  my-5">
      <div class="col-12">
        <h1 class="title-fotos text-center">Depoimento dos participantes</h1>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <iframe width="80%" height="600" src="https://www.youtube.com/embed/O2-YalByk-Q"
          title="Retiro Cura e Chakras | Energia | Imersão |  Wal Nunes | 07" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>