<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Studio Integral</a> -->
      <div [routerLink]="['/main/home']"><img href="#" class="logo" src="../assets/logo.png"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav align-items-center justify-content-center">
          <a class="nav-link mx-3 active" aria-current="page" [routerLink]="['/main/home']">Home</a>
          <a class="nav-link mx-3" aria-current="page" [routerLink]="['/main/formacao']">Formação</a>
          <a class="nav-link mx-3" [routerLink]="['/main/retiro']">Retiro</a>
          <a class="nav-link mx-3" [routerLink]="['/main/aulas-presencial']">Presencial</a>
          <a class="nav-link mx-3" [routerLink]="['/main/aulas-online']">App Online</a>
          <a class="nav-link mx-3" [routerLink]="['/main/mestres-da-linhagem']">Mestres</a>
          <a class="nav-link mx-3" [routerLink]="['/main/codigo-de-etica']">Código de Ética</a>
          <a class="nav-link mx-3" [routerLink]="['/main/planos-e-precos']">Planos e Preço</a>
        </div>
      </div>
    </div>
  </nav>
</header>
